.game-info-container{
	margin: 0 0 10px 0;
	display: block;
	height: 60px;
	background-color:gray;
}

.section{
	display:inline-block;
	text-align: center;
	width: 25%;
	top: 15px;
	position: relative;
	color: #ddd;
	float: left;
}

.section div{
	color: white;
	font-size:bold;
	display: inline;
}

.form-container{
	margin: 0 auto;
	text-align: center;
}

.grid-container{
	width: 80%;
	margin: 0 auto;
}


